    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>StoryCreate!</h1>
        <p>Join the millions of people that are writing stories with others.  Write SciFi, Mystery, Drama, Victorian, and other fiction. (If you really want to write Victorian, please include zombies) Write a sentence, paragraph, page or chapter and then let the next person have a go. Repeat and repeat until the masterpiece is finished.</p>
         <p><a class="btn btn-primary btn-lg" role="button">Click here to get started »</a>  Or  <a ng-href="./#/login" class="btn btn-primary btn-lg" role="button">Logon</a></p>
      </div>
    </div>