   <div> 
		<h1> Select a Story </h1>
		<table class="table table-striped table-hover">
		<thead>
		<tr><td>Title</td><td>description</td><td>Date</td><td>Authors</td><td></td></tr></thead>
		<tbody>
		<tr ng-repeat = "story in model.storyList track by $index">
			<td><a ng-href="#/viewStory/{{story.id}}">{{story.title}}</a></td><td>{{story.description}}</td><td>{{story.dateCreated | date: 'M-dd-yyyy H:mm'}}</td>
		<td> <span ng-repeat = "author in story.authors track by $index">{{author}} </span></td><td><a ng-href="#/editStory/{{story.id}}">Edit</a> <a ng-click="deleteStory(story.id)">Delete</a></tr>
		</tbody>
		</table>
		<br>
		<button ng-click='newStory()'>Create new Story</button>
       <style>
           a:hover {
               cursor: pointer;
           }
       </style>
	  </div>